body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.login-button {
    background-color: white;
    color: #0073e6;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.main {
    padding: 20px;
}

.filter-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search_filter {
    padding: 8px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
}

.visits-container {
    display: flex;
    flex-wrap: wrap;
}

.visit-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hide {
    display: none;
}
